WpfVidimoe/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64992/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KR_PritulTvar" />
  <xs:element name="SingIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KR_PritulTvar" minOccurs="0" name="User" nillable="true" type="q1:SingInUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KR_PritulTvar" minOccurs="0" name="user" nillable="true" type="q2:RegUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTvarina">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KR_PritulTvar" minOccurs="0" name="tvar" nillable="true" type="q3:Tvar_ADD_DTO" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KR_PritulTvar" minOccurs="0" name="User" nillable="true" type="q4:SingInUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTvarinaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTvarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KR_PritulTvar" minOccurs="0" name="GetTvarResult" nillable="true" type="q5:ArrayOfTvar_ADD_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>