WpfVidimoe/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KR_PritulTvar" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KR_PritulTvar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tvar_Registrs" nillable="true" type="tns:ArrayOfTvar_ADD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegUser" nillable="true" type="tns:RegUser" />
  <xs:complexType name="ArrayOfTvar_ADD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tvar_ADD" nillable="true" type="tns:Tvar_ADD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTvar_ADD" nillable="true" type="tns:ArrayOfTvar_ADD" />
  <xs:complexType name="Tvar_ADD">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:double" />
      <xs:element minOccurs="0" name="Breed" nillable="true" type="tns:Breed" />
      <xs:element minOccurs="0" name="Castration" type="xs:boolean" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:Color" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Information" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kg" type="xs:double" />
      <xs:element minOccurs="0" name="Nick" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterUser" nillable="true" type="tns:RegUser" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Type" />
      <xs:element minOccurs="0" name="Vaccination" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tvar_ADD" nillable="true" type="tns:Tvar_ADD" />
  <xs:complexType name="Breed">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NameBreed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tvar_Registrs" nillable="true" type="tns:ArrayOfTvar_ADD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Breed" nillable="true" type="tns:Breed" />
  <xs:complexType name="Color">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NameColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tvar_Registrs" nillable="true" type="tns:ArrayOfTvar_ADD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Color" nillable="true" type="tns:Color" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NameType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tvar_Registrs" nillable="true" type="tns:ArrayOfTvar_ADD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
</xs:schema>